<div class="d-flex justify-content-between gap-4" id="footer">
  <!-- <div>{{'footer.copyrightText1'|translate}} {{currentYear}} {{'footer.copyrightText2'|translate}}</div> -->
  <div>Copywrite 2025 Andnone</div>
  <!-- <a (click)="goToLink('https://anddone.com/privacy-policy/')"
    target="currentwindow1">{{'footer.privacyStatement'|translate}}</a>
  <a (click)="goToLink('https://anddone.com/terms-and-conditions/')"
    target="currentwindow2">{{'footer.termsOfService'|translate}}</a> -->
</div>